{% extends 'tienda/base.html' %}
{% block title %}Pedidos{% endblock %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}
{% block contenido %}

<div class="container-fluid" style="margin-top: 15%;">
    <div class="row">
        <div class="col-lg-8"> <!--Mitad izquierda de la página-->
            <div class="col-lg-4">
                <img src="{% static 'tienda/Img/nina_pintando' %}" alt="" height="150%" width="150%" style="border-radius: 10%; margin-left: 50%;"> <!--Insertar imagen de seccion pedidos-->
            </div>
        </div>
        <div class="col-lg-4"> <!--Mitad derecha de la página-->
            <div class="order-background" style="margin-right: 10%;">
                <div class="row" style="margin-left: 10%; margin-right: 10%;">
                    <h1 class="mensaje" style="font-size: 350%; margin-top: 5%;">
                        Agenda tu pedido
                    </h1>
                    <form action="pedidos" method="POST" style="margin-right: 5%; margin-bottom: 5%;">
                        {% csrf_token %}
                        <h4 style="font-weight: bold;">Usuario</h4>
                        {{form.email | as_crispy_field}}
                        <h4 style="font-weight: bold;">Código Producto*</h4>
                        {{form.cod_producto | as_crispy_field}}
                        <h4 style="font-weight: bold;">Código tela*</h4>
                        {{form.cod_tela | as_crispy_field}}
                        <h4 style="font-weight: bold;">Descripción</h4>
                        {{form.descripcion | as_crispy_field}}
                        <div class="d-flex justify-content-center mt-3">
                            <button type="submit" class="btn btn-primary boton" id="botonPedir" style="width: 25% !important ;" onclick="mostrarMensaje()" >Pedir</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="row justify-content-center">
        {% for item in telas %}
        <div class="col-lg-3">
            {% if item.existencia %}
            <div class="card p-4 carta-items" style="background-color: #dcc7fe;">
                <a class="d-flex justify-content-center" href="">
                    <img src="{{item.img_tela.url}}" alt="" height="200px" width="200px">
                </a>
                <a class="d-flex justify-content-center linkTelasProductos" href="">
                    {{item.cod_tela}}
                </a>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'tienda/js/funcionalidad.js' %}"></script>
{% endblock %}