{% extends 'tienda/base.html' %}
{% block title %}Sobre mi{% endblock %}
{% load static %}
{% block contenido %}

<div style="margin-top: 10%; text-align: center;">
    <img src="{% static 'tienda/Img/logoredondo.png' %}" alt="Logo" class="img-fluid" style="height: 25%; width: 25%">
</div>
<br>
<div class="sobremi">
    Joselin es una emprendedora que lleva 2 años dedicándose a la confección de productos con materiales reciclados. Ella invierte tiempo en su emprendimiento, creando confecciones tanto para eventos como diseños para el hogar. Su enfoque en el uso de materiales reciclados no solo le permite desarrollar productos únicos y sostenibles, sino que también contribuye a la reducción de residuos y al cuidado del medio ambiente.
</div>

{% endblock %}