{% extends 'tienda/base.html' %}
{% block title %}Modificar Telas{% endblock %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}

{% block contenido %}

<div class="row d-flex justify-content-center" style="margin-top: 15%; align-items: center;">
    <div class="col-lg-12 col-md-6">
        <div class="card p-4" style="background-color: #dcc7fe;">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form | crispy}}
                <div class="d-flex justify-content-evenly">
                    <input type="submit" value="Actualizar" class="btn btn-primary boton">
                    <a href="{% url 'lista_telas' %}" class="btn btn-primary boton">Volver</a>
                </div>
            </form>
            
        </div>
    </div>
</div>

{% endblock %}
